.container-arrow-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.arrow{
    position:relative;
    width:50px;
    height: 50px;
    cursor:pointer;
  /*   border:solid 1px white; */
    transition:0.5s;
    overflow:hidden;
    transform: rotate(90deg);
    border:solid 2px white; 
    border-radius:50%;
    background: #0061FE;
  }
  
  .arrow:hover{
  /*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
      border:solid 2px white; 
      border-radius:50%;
  }
  .arrow:after{
    position:absolute;
    display:block;
    content:"";
    color:white;
    width: 25px;
    height: 15px;
  /*   border:solid 1px;  */
    top:9px;
    border-bottom:solid 2px;
    transform:translatex(12px);
  }
  
  .arrow:before{
    position:absolute;
    display:block;
    content:"";
    color:white;
    width: 10px;
    height: 10px;
  /*   border:solid 1px;  */
    border-top:solid 2px;
    border-left:solid 2px;
    top:50%;
    left:2px;
    transform-origin:0% 0%;
    transform:translatex(9px) rotatez(-45deg);
    
  
  }
  .arrow:hover:before{
   animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  }
  
  .arrow:hover:after{
   animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  }
  
  
  @keyframes aniArrow01 {
    0% {
      transform:rotatez(-45deg) translateY(30px) translateX(30px);
    }
    100% {
      transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
  }
  
  
  @keyframes aniArrow02 {
    0% {
      transform:translateX(45px);
    }
    100% {
      transform:translateX(-44px);
    }
  }
  
  @keyframes borderAni{
     0% {
      border:solid 2px white;
    }
    100% {    
      border:solid 2px white; 
      border-radius:50%;
    }
  }